.cardContainer{
    padding: 10px;
    margin: 30px 0;
    box-shadow: 5px 5px 10px #ccc;
    transition: 0.3s ease-out;
}

.cardContainer:hover{
    transform: scale(1.05);
}

.cardName{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.cardImg{
    max-width: 300px;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .cardContainer{
        margin: 20px 0;
    }

    .cardImg{
        max-width: 250px;
    }
}