.navContainer{
    background-color: #3f51b5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    box-shadow: 0px 0px 25px #333;
}

.navTitle{
    color: #fff;
}

.navSearch{
    position: relative;
}

.navSearch svg{
    margin-right: 10px;
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navInput{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
}

@media screen and (max-width: 750px) {
    .navContainer{
        flex-direction: column;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .navTitle{
        font-size: 18px;
    }

    .navInput{
        padding: 10px;
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .navSearch svg{
        right: 10%;
    }
}